#!/usr/bin/env python
# _*_coding:utf-8_*_

# chkconfig: 2345 80 90
# description:tomcat


import subprocess
import time
import sys
import signal
import os


tomcat_name = "tomcat-solr"
tocmat_home = "{{ tomcat_home }}"
wait_counnt = 10


def get_tomcat_pid():
    p = subprocess.Popen(['ps', '-Ao', 'pid,command'], stdout=subprocess.PIPE)
    out, err = p.communicate()
    for line in out.splitlines():
        if 'java' in line:
            if tomcat_name in line:
                pid = int(line.split(None, 1)[0])
                return pid


def start_tomcat():
    os.environ["JAVA_HOME"] = "{{ JAVA_HOME }}"
    os.environ["JRE_HOME"] = "{{ JAVA_HOME }}/jre"
    if get_tomcat_pid() is not None:
        print "stdout".center(100, '-')
        print "\033[32m %s Is Started \033[0m".center(100, '-') % tomcat_name
        print "end".center(100, '-')
    else:
        command_start_tomcat = "%s/bin/startup.sh" % tocmat_home
        p = subprocess.Popen(command_start_tomcat, stdin=subprocess.PIPE, stdout=subprocess.PIPE, stderr=subprocess.PIPE, shell=True)
        stdout, stderr = p.communicate()
        print stdout, stderr


def stop_tomcat():
    wait_sleep = 0
    if get_tomcat_pid() is None:
        print "\033[32m %s is Not Running\033[0m".center(50, '-') % tomcat_name
    else:
        command_stop_tomcat = "%s/bin/shutdown.sh" % tocmat_home
        p = subprocess.Popen(command_stop_tomcat, stdin=subprocess.PIPE, stdout=subprocess.PIPE,
                             stderr=subprocess.PIPE, shell=True)
        stdout, stderr = p.communicate()
        while (get_tomcat_pid() is not None):
            print "waiting for processes to exit\n"
            wait_sleep += 1
            time.sleep(1)
            if wait_sleep == wait_counnt:
                os.kill(get_tomcat_pid(), signal.SIGKILL)
                print "\033[32m Stop Tomcat is sucessful \033[0m".center(50, '-')
                break



def usage():
    print "\033[31mPlease Input start|stop|status|restart\033[0m"


def main():
    try:
        if sys.argv[1] == 'start':
            start_tomcat()
        elif sys.argv[1] == 'stop':
            stop_tomcat()
        elif sys.argv[1] == 'restart':
            stop_tomcat()
            start_tomcat()
        else:
            usage()
    except IndexError:
        usage()


if __name__ == '__main__':
    main()
