<html>
  <head>
    <title>Welcome Ansible Nginx</title>
  </head>
  <body>
  <h1>Ansible Install Nginx Test Pages</h1>
  <p>主机名:{{ ansible_hostname }}</p>

  <p>主机地址:{{ ansible_eth0.ipv4.address }}</p>

  </body>
</html>

