<html>
  <head>
    <title>Ansible</title>
  </head>
  <body>
  <h1>Frist Ansible Nginx Install</h1>
  <h2>Second Ansible playbook Vars</h2>
  <p>NGINX SERVER HOST_NAME:{{ ansible_hostname }}</p>

  <p>NGINX Server IPAdress:{{ ansible_eth0.ipv4.address }}</p>
  <p>这就是 Ansible 安装的 NGinx 测试页面</p>
  <p>这个是第二次的 Ansible 的测试页面</p>
  <p>第三次 Ansible playbook 测试页</p>
  <p>第4次 Ansible playbook 测试页</p>
  <p>第5次 Ansible playbook 测试页</p>


  </body>
</html>

