input {
    file {
        type=>"carrefour-access"
        path => ["{{nginx_logs_path}}{{ansible_hostname}}f.cdc.carrefour.com_access.log"]
    }
}
filter {
    grok {
        patterns_dir => [ "{{patterns}}" ]
        match => { "message" => "%{NGINXACCESS}" }
    }

    if [http_user_agent] =~ "inf-ssl-duty-scan" { 
        drop { }
    }

    date {
        match => [ "time_local" , "dd/MMM/yyyy:HH:mm:ss Z" ]
    }

    if [remote_addr] != "-" and [remote_addr] !~ ".*,.*"{
        geoip {
                source => "remote_addr"
                target => "geoip"
                database => "{{geoip}}"
        }
    }
    kv {
        source => "request"
        field_split => "&?"
        value_split => "="
        include_keys => [ "network", "country", "language", "deviceId" ]
    }

    urldecode {
        all_fields => true
    }
}

output {
  redis {
    host => "10.171.35.25"
    port => "6379"
    db => "0"
    data_type => "list"
    key => "nginx-logstash-access"
  }
}