#!/bin/bash

function change_files(){
	# change php.ini
	sed -i "s/max_execution_time = 30/max_execution_time = 300/g" /etc/php.ini
	sed -i "s/;date.timezone =/date.timezone = Asia\/Shanghai/g" /etc/php.ini
	sed -i "s/;always_populate_raw_post_data = On/always_populate_raw_post_data = On/g" /etc/php.ini
	sed -i "s/post_max_size = 8M/post_max_size = 16M/g" /etc/php.ini
	sed -i "s/max_input_time = 60/max_input_time = 300/g" /etc/php.ini
}

function handle_databases(){
	# crate databases
	mysql -h{{ DB_HOST}} -uroot -pgkwc2017 -e"create database zabbix character set utf8 collate utf8_bin;";
	mysql -h{{ DB_HOST}} -uroot -pgkwc2017 -e"grant all privileges on zabbix.* to zabbix@localhost identified by 'zabbix';";
	mysql -h{{ DB_HOST}} -uroot -pgkwc2017 -e"grant all privileges on zabbix.* to zabbix@'%' identified by 'zabbix';";
	mysql -h{{ DB_HOST}} -uroot -pgkwc2017 -e"FLUSH PRIVILEGES;";
}


function import_data(){
	# import databases
	mysql -h{{ DB_HOST}} -uzabbix -pzabbix zabbix < {{ZABBIX_TMP}}{{ZABBIX_PACKAGES_NAME}}/database/mysql/schema.sql
	mysql -h{{ DB_HOST}} -uzabbix -pzabbix zabbix < {{ZABBIX_TMP}}{{ZABBIX_PACKAGES_NAME}}/database/mysql/images.sql
	mysql -h{{ DB_HOST}} -uzabbix -pzabbix zabbix < {{ZABBIX_TMP}}{{ZABBIX_PACKAGES_NAME}}/database/mysql/data.sql
}

function handle_server(){
	# restart php-fpm
	/usr/bin/systemctl restart php-fpm
	/usr/bin/systemctl enable php-fpm
}

change_files()
handle_databases()
import_data()
handle_server()