#!/bin/bash

#For Starting Memcached
#Default Started  11211-11214
Memcached_bin={{prefix}}/bin/memcached
start () {
	echo -e "\033[32mStarting Memcached ${port}........\033[0m"
	${Memcached_bin} -d -l 0.0.0.0 -u root -p ${port} -c 1024 -m 512 -P /tmp/${port}.pid
}

stop () {
	echo -e "\033[31mStoping Memcached ${port}.........\033[0m"
	memcached_pid=`cat /tmp/${port}.pid`
	if [[ -f /tmp/${port}.pid ]]; then
    kill -9 ${memcached_pid};rm -f /tmp/${port}.pid
		echo -e "\033[32mStoped Memcached ${port} Is OK!!!!!\033[0m"
	else
		echo -e "\033[31mMemcached ${port} Is Non't Started\033[0m"

	fi

}

status () {
  memcached_pid=`cat /tmp/${port}.pid`
	echo -e "\033[32mMemcached Status.........\033[0m"
	echo -e "\033[32mMemcached Port Is ${port} Process is ${memcached_pid}\033[0m"
}

if [[ -z "$2"  ]]; then
  echo $"Usage: $0 {start Port |stop port |status port |restart"
  exit 0
fi

port=$2
case "$1" in
    start)
      start
      ;;
    stop)
      stop
      ;;
    restart)
      stop
      sleep 5;
      start
      ;;
    status)
      status
    ;;
    *)
      echo $"Usage: $0 {start|stop|status|restart"
      exit 1 
esac
