<html>
  <head>
    <title>Ansible Home</title>
  </head>
  <body>
  <h1>Welcome To EdwardLiu Ansible Nginx Home</h1>
  <h2>Ansible Install Nginx Test Pages</h2>
  <p>主机名:{{ ansible_hostname }}</p>

  <p>主机地址:{{ ansible_default_ipv4.address }}</p>
  	<strong>{{ inventory_hostname }}</strong>
  </body>
</html>

