#!/bin/bash
#This Script For Nginx Logs Cutting

## At 00:00

## Logs paths
SAVE_LOGS_PATH={{nginx_cutlog_save_path}}
Nginx_Pid=`cat {{nginx_pid_path}}`

## get date
YESTERDAY=$(date -d "yesterday" +%Y-%m-%d)

## Move Logs To New Cut logs Path
mv {{ nginx_log_dir}}{{ ansible_hostname }}-{{ nginx_access_log_name }} ${SAVE_LOGS_PATH}/access_${YESTERDAY}.log

## Reload Nginx Process | rewrite logs
#echo "76132fbbe6" |sudo -S kill -USR1 ${Nginx_Pid}
#or
#sudo kill -USR1 ${Nginx_Pid}
#or
kill -USR1 ${Nginx_Pid}