#User Group
user nginx nginx;

#Wroker 
worker_processes  2;
worker_rlimit_nofile 51200;


pid        {{nginx_pid_path}};

#Events Set
events {
    use epoll;
    worker_connections  51200;
}

#HTTP
http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile on;
    server_tokens off; 
    tcp_nopush     on;
    keepalive_timeout 300;
    tcp_nodelay on;

#Open File Cache
    open_file_cache max=4096 inactive=20s;
    open_file_cache_valid 30s;
    open_file_cache_min_uses 1;

#proxy
    proxy_http_version 1.1;
    proxy_buffer_size 16k;
    proxy_buffers 4 32k;
    proxy_busy_buffers_size 64k;
    proxy_temp_file_write_size 64k;
    proxy_set_header Host  $host;
    proxy_set_header wm-client-ip $http_carrefour_client_ip;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_hide_header X-Powered-By;
    add_header Via $Hit_Host;

    log_format  Ansible_install '$http_host '
                                '$remote_addr [$time_local] '
                                '"$request" $status $body_bytes_sent '
                                '"$http_referer" "$http_user_agent" '
                                '$request_time '
                                '$upstream_response_time';
    access_log  {{ nginx_log_dir}}{{ ansible_hostname }}-{{ nginx_access_log_name }} Ansible_install;
    error_log  {{ nginx_log_dir}}{{ ansible_hostname }}-{{ nginx_error_log_name}};

server {
    listen       80;
    server_name  127.0.0.1; 
    error_page  404 /404.html;
    error_page  500 501 502 503 504 /500.html;

    set $http_carrefour_client_ip $proxy_add_x_forwarded_for;
    set $Hit_Host SH-P-Z-24-6-M-1;

    location / {
        root   html;
        index  index.html index.htm;
    }
    location /nginx_status 
    {
        stub_status on;
        access_log off;
        #allow 127.0.0.1;
        #deny all;
    }
}
}
