#!/bin/bash

ES_HOME="{{ BASE_HOME }}/{{ ELASTIC_HOME}}"
JAVA_HOME={{ JAVA_HOME }}


pid=`ps aux | grep java | grep ${ES_HOME} | awk '{print $2}'`
ELASTICSEARCH_USAGE="Usage: $0 {\e[00;32mstart\e[00m|\e[00;32mstop\e[00m|\e[00;32mrestart\e[00m}"


start(){
	if [ ! -n "$pid" ]; then  
	  /bin/su - {{ user }} -c "${ES_HOME}/bin/elasticsearch -d"
	else  
	  echo "elasticsearch is started"  
	fi  
}

stop(){
	if [  -n "$pid" ]; then  
	  kill -9 ${pid}
	else  
	  echo "elasticsearch is not started"  
	fi
}

case $1 in
	start )
		start
		;;
	stop )
		stop
		;;
	restart )
		stop
		sleep 15
		start
		;;
	* )
		echo -e ${ELASTICSEARCH_USAGE}
		;;
esac