[client]
port = 3306
socket = {{ PIDSOCK }}/mysql.sock
default-character-set = utf8

[mysql]
no-auto-rehash
default-character-set = utf8


[mysqld]
user = {{ USER }}
port = {{ PORT }}
socket = {{ PIDSOCK }}/mysql.sock
basedir = /usr/
datadir = {{ DATADIR }}
open_files_limit = 65536

back_log = 600
max_connections = 3000
max_connect_errors = 6000
external-locking = FALSE
max_allowed_packet = 32M
thread_cache_size = 300
thread_concurrency = {{ THREAD_CONCURRENCY }}
query_cache_limit = 4M
query_cache_min_res_unit = 2k
default-storage-engine = InnoDB
transaction_isolation = READ-COMMITTED  
tmp_table_size = 256M  
max_heap_table_size = 256M
expire_logs_days = 7  
key_buffer_size = 2048M  
read_rnd_buffer_size = 16M  
bulk_insert_buffer_size = 64M  
myisam_sort_buffer_size = 128M  
myisam_max_sort_file_size = 10G  
myisam_recover  
skip-name-resolve  
lower_case_table_names = 1  
server-id = 1
innodb_additional_mem_pool_size = 16M  
innodb_buffer_pool_size = 2048M  
innodb_thread_concurrency = 8  
innodb_flush_log_at_trx_commit = 2  
innodb_lock_wait_timeout = 120  
innodb_file_per_table = 0 
init_connect='SET collation_connection = utf8_general_ci'
init_connect='SET NAMES utf8'
character-set-server=utf8
collation-server=utf8_general_ci
lower_case_table_names=1
[mysqldump]
quick  
[mysqld_safe]
log-error={{ LOGSDIR }}/{{ LOGERRNAME }}
pid-file={{ PIDSOCK }}/mysqld.pid

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 