<?xml version='1.0' encoding='utf-8'?>
<Server port="8010" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JasperListener" />
  <!--<Listener className="org.apache.catalina.startup.VersionLoggerListener" />-->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>
  <Service name="Catalina">

     <Connector   port="{{TOMCAT_START_PORT}}" 
                  protocol="HTTP/1.1"
                  maxThreads="1000"
                  acceptCount="500"
                  maxHttpHeaderSize="8192"
                  connectionTimeout="20000"
                  redirectPort="8443"
                  enableLookups="false"
                  URIEncoding="UTF-8" />

    <Connector port="8011" protocol="AJP/1.3" redirectPort="8443" />
    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>
	<Host name="localhost"  appBase="webapps" unpackWARs="true" >
	      <Context crossContext="true" docBase="{{TOMCAT_DOCBASE}}" reloadable="true" allowLinking="true" path=""/>
        <!--
          %a - 远程IP地址
          %A - 本地IP地址
          %b - 发送的字节数(Bytes sent), 不包括HTTP headers的字节，如果为0则展示'-'
          %B - 发送的字节数(Bytes sent), 不包括HTTP headers的字节
          %h - 远程主机名称(如果resolveHosts为false则展示IP)
          %H - 请求协议
          %l - 远程用户名，始终为'-'(Remote logical username from identd)
          %m - 请求的方法(GET, POST等)
          %p - 接受请求的本地端口
          %q - 查询字符串，如果存在，有一个前置的'?'
          %r - 请求的第一行(包括请求方法和请求的URI)
          %s - response的HTTP状态码(200,404等)
          %S - 用户的session ID
          %t - 日期和时间，Common Log Format格式
          %u - 被认证的远程用户, 不存在则展示'-'
          %U - 请求URL路径
          %v - 本地服务名
          %D - 处理请求的时间，单位为毫秒
          %T - 处理请求的时间，单位为秒
          %F - 提交响应所需的时间，以毫为单位
          %I - 当前请求的线程名(can compare later with stacktraces)
          %{xxx}i - 请求头的名称
          %{xxx}s - write value of HttpSession attribute with name 写入带有名称的HttpSession属性的值
        -->
        <!-- pattern="%h %l %u %t &quot;%r&quot; %s %b &quot;%{Referer}i&quot; &quot;%{User-Agent}i&quot; %A %p %D %F %S &quot;%{X-Forwarded-For}i&quot; &quot;%{SECURITY_LOGIN_NAME}s&quot;" />-->
        <Valve  className="org.apache.catalina.valves.AccessLogValve"
                directory="logs"
                prefix="localhost_access_log." 
                suffix=".txt"
                encoding="utf8"
                pattern='{"localhost":"%A","remoteORlbIP":"%a","remoteIP":"%a","logTime":"%t","uri":"%U","status":%s,"responseBytes":%B,"responseTime":%T,"referer":"%{Referer}i","userAgent":"%{User-Agent}i"}' />
      </Host>
    </Engine>
  </Service>
</Server>
