#!/bin/bash
# This script for tomcat catalina.out cutting
BAK_time=`date -d today +"%Y-%m-%d"`
#log的目录
catalina_path={{catalina_path}}
#backup的目录
catalina_backup_path={{catalina_backup_path}}
LOG=catalina.out
#备份的名字
LOG_bak=$LOG.$BAK_time
#七天前的时间变量
D7=`date -d'7 day ago' +%Y%m%d`
#
##
##切割im_6.0的日志
/bin/cp ${catalina_path}${LOG} ${catalina_backup_path}${LOG_bak}
echo "" > ${catalina_path}${LOG}
/bin/rm -rf ${catalina_backup_path}${LOG}.${D7}
#删除2天前无用日志
/bin/find {{catalina_path}} -mtime +2 -name "manager.*" -exec /bin/rm -rf {} \;
/bin/find {{catalina_path}} -mtime +2 -name "host-manager.*" -exec /bin/rm -rf {} \;
/bin/find {{catalina_path}} -mtime +2 -name "localhost.*" -exec /bin/rm -rf {} \;
/bin/find {{catalina_path}} -mtime +2 -name "localhost_access_log.*" -exec /bin/rm -rf {} \;
/bin/find {{catalina_path}} -mtime +2 -name "catalina*.log" -exec /bin/rm -rf {} \;