[program:logstash-clients]
command = {{logstash_home}}/bin/logstash -f {{logstash_conf_path}}{{logstash_conf_name}}
autostart = true
autorestart = true
startsecs = 5
startretries = 3
user = {{logstash_user}}
redirect_stderr = true
stdout_logfile={{logstash_logs_path}}logstash-clients-std.log
stderr_logfile={{logstash_logs_path}}logstash-clients-err.log