# 配置logstash 启动
[program:logstash-clients]
{# command = {{ LOGSTASH_HOME_PATH }}/bin/logstash -f {{ LOSGTASH_START_CONFIG_PATH }}/{{ LOGSTASH_CONF_NAME }} #}
command = python /home/tourk/app.py
# 程序异常退出后自动重启
autostart = true
autorestart = true
# 启动 5 秒后没有异常退出，就当作已经正常启动了
startsecs = 5
# 启动失败自动重试次数，默认是 3
startretries = 3
# 启动用户
{# user = {{ LOSGTASH_USER }} #}
user = tourk
redirect_stderr = true
stdout_logfile={{ SUPERVISOR_LOGS_PATH }}/logstash-clients-std.log
stderr_logfile={{ SUPERVISOR_LOGS_PATH }}/logstash-clients-err.log