#User Group
user root root;

#Wroker 
worker_processes  2;
worker_rlimit_nofile 51200;

error_log {{nginx_log_path}}nginx_error.log  error;
pid       {{nginx_log_path}}nginx.pid;

#Events Set
events {
    use epoll;
    worker_connections  51200;
}

#HTTP
http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile on;
    server_tokens off; 
    tcp_nopush     on;
    keepalive_timeout 300;
    tcp_nodelay on;

#Open File Cache
    open_file_cache max=4096 inactive=20s;
    open_file_cache_valid 30s;
    open_file_cache_min_uses 1;

#proxy
    proxy_http_version 1.1;
    proxy_buffer_size 16k;
    proxy_buffers 4 32k;
    proxy_busy_buffers_size 64k;
    proxy_temp_file_write_size 64k;
    # add cache
    #proxy_buffering on;
    #proxy_cache_valid any 10m;
    #proxy_cache_path /software/nginx/cache/taglist levels=1:2 keys_zone=cache_taglist:8m max_size=5g inactive=1200m;
    #proxy_cache_path /software/nginx/cache/index levels=1:2 keys_zone=cache_index:8m max_size=5g inactive=1m;
    #proxy_temp_path /software/nginx/proxy_temp;
    # add cache end
    proxy_set_header Host  $host;
    proxy_set_header wm-client-ip $http_carrefour_client_ip;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_hide_header X-Powered-By;
    add_header Via $Hit_Host;
    ###add xianliu
    limit_req_zone $binary_remote_addr zone=newone:10m rate=20r/s;
    limit_req_zone $binary_remote_addr zone=newtwo:10m rate=30r/s;
    limit_req_zone $binary_remote_addr zone=newthree:10m rate=1r/s;
    ###add End

    #log_format  carrefour_log      '$http_host '
    #                      '$remote_addr - $remote_user [$time_local] '
    #                      '"$request" $status $body_bytes_sent "$request_body" '
    #                      '"$http_referer" "$http_user_agent" "$http_x_forwarded_for" '
    #                      '$request_time '  
    #                      '$upstream_response_time';
    log_format carrefour_log '{"@timestamp":"$time_iso8601",'
                 '"host":"$server_addr",'
                 '"clientip":"$remote_addr",'
                 '"size":$body_bytes_sent,'
                 '"responsetime":$request_time,'
                 '"upstreamtime":"$upstream_response_time",'
                 '"upstreamhost":"$upstream_addr",'
                 '"server_host":"$host",'
                 '"url":"$uri",'
		 '"url-info":"$request_uri",'
                 '"xff":"$http_x_forwarded_for",'
                 '"referer":"$http_referer",'
                 '"agent":"$http_user_agent",'
                 '"status":"$status"}';
#upstream
    include /software/nginx/conf.d/upstream.conf;
#server
    server {
        listen       80;
        server_name  www.carrefour.cn; 
	error_page  404 /404.html;
        error_page  500 501 502 503 504	/500.html;
        access_log  logs/{{ ansible_hostname }}f.cdc.carrefour.com_access.log carrefour_log;
	#Add deany url
	#location ~ ^/mobile/api/product/findListTagByGoodsId {
	    #proxy_pass http://tomcat-app;
	    #proxy_set_header Port $http_Port;
 	    #proxy_set_header Host  $host;
  	    #proxy_set_header X-Real-IP $remote_addr;
   	    #proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	    #proxy_cache cache_taglist;
	    #proxy_cache_key $host$uri$is_args$args;
	    #proxy_cache_valid 200 304 1h;
	    #expires 30d;
	    #deny all;
	#}
    #include /software/nginx/conf.d/20170421.conf;
    #location ~* /mobile/api/* {
    #    proxy_pass http://cartandproduct;
    #}
    #location ~* /mobile/api/product {
    #    proxy_pass http://cartandproduct;
    #}
    location ~* /mobile/api/checkout {
        proxy_pass http://checkoutandorder;
    }
	location ~* "/MP_verify_8S2M4nu1WqTRnwgx.txt"{
	    root /data/www;
	}
	#Add customerServiceStatic static
        location ~* /mobile/api/member/customerService {
                if (-e "/data/www/articleCategory/${http_subsiteId}-${http_language}.json") {
                        rewrite ^(.*)$ /articleCategory/${http_subsiteId}-${http_language}.json? last;
                }
                proxy_pass http://tomcat-app;
        }
        location ~* /articleCategory {
                add_header Cache-Control no-store;
                root /data/www/;
        }
        
        location ~* /mobile/api/product/siteInfo {
               if (-e "/data/www/staticArticle/productSiteInfo_${http_subsiteId}_${http_language}.json") {
                       rewrite ^(.*)$ /staticArticle/productSiteInfo_${http_subsiteId}_${http_language}.json? last;
               }
               proxy_pass http://tomcat-app;
        }
        location ~* /staticArticle {
               add_header Cache-Control no-store;
               root /data/www/;
        }
	#End customerServiceStatic static
	#add activity
        location ~ ^/mobile/api/activity/(smashingeEggs|involvedSmashingEggs|addSmashingeEggs) {
	    limit_req zone=newtwo burst=40;
            proxy_pass http://eggs;
    	}
	location ~* ^/payment/ {
	    proxy_pass http://tomcat-web-pay;
	}
	# add activity end
	#location ~ ^/mobile/api/product/findListTagByGoodsId {
	#    deny all;
	#}
        set $http_carrefour_client_ip $proxy_add_x_forwarded_for;
        set $Hit_Host SH-P-Z-24-6-M-1;

        location @proxy_question {
            proxy_pass http://question;    
        }

        location @proxy_tomcat_web {
            proxy_pass http://tomcat-web;    
        }
	#deny search
	#location ~* \/mobile\/api\/product\/search {
	    #deny all;
        #    limit_req zone=newtwo burst=40;
        #    limit_req_status 503;
        #    proxy_pass http://tomcat-app;
	    
	#}
	#deny search end
	#add kibana
	location ~* (/app\/kibana\/*|bundles\/*|elasticsearch\/*) {
            auth_basic "secret";
            auth_basic_user_file {{remote_conf_path}}passwd.db;
	    proxy_pass http://10.171.35.11:80;
	}
	#add download fiels
	location ~* \/log_analysis {
	    root  /software/picture_upload/;
	    autoindex on;
	}
	#add download end
	#add tomcat_app static files
	#add zabbix and piwik
	location ~* \/zabbix {
	    proxy_pass http://cslp80039u.cdc.carrefour.com:8080;
	}
        location ~* /piwik/ {
           proxy_pass http://cslp80039u.cdc.carrefour.com:80;
        }
        location ~* /piwik.(php|js) {
            proxy_pass http://piwik;
        }
	#ann zabbix and piwik end
	location ~* /mobile/api/index/getIndexInfo {
            set $isApp "true";
            set $flag 0;
            if (-e "/data/www/mobileHomeIndex/${http_subsiteId}-${http_language}.json") {
                set $flag 1;
            }
            if ($isApp = "false"){
                set $flag "${flag}1";
            }
            if ($flag = 1) {
                rewrite ^(.*)$ /mobileHomeIndex/${http_subsiteId}-${http_language}.json? last;
            }
            if (-e "/data/www/mobileHomeIndex/1-zh-CN.json") {
                rewrite ^(.*)$ /mobileHomeIndex/1-zh-CN.json? last;
            }
            #limit_req zone=newone burst=40;
            proxy_pass http://tomcat-app;
        }
	location ~* /mobileHomeIndex {
            #add No cache--2016-04-07
            add_header Cache-Control no-store;
	        root /data/www;
	    }
	#add Tomcat_app static END
	#add wechat location
	location ~* /mobile/wwwTest/* {
    	    proxy_pass http://tomcat-app;
	}
	# add wechat end
	#Start Mobile NewHome App static
	location ~* /mobile/api/index/byNewGetIndexInfo {
            set $flag 0;
            if (-e "/data/www/mobileNewHomeIndex/${http_subsiteId}-${http_language}.json") {
                set $flag 1;
            }
    	    if ($http_os ~* "weixin") {
       		set $flag 2;
    	    }
            if ($flag = 1) {
                rewrite ^(.*)$ /mobileNewHomeIndex/${http_subsiteId}-${http_language}.json? last;
            }
            if ($flag = 0) {
                rewrite ^(.*)$ /mobileNewHomeIndex/1-zh-CN.json? last;
            }
	    if ($flag = 2) {
       		proxy_pass http://tomcat-app;
   	    }
	    #limit_req zone=newtwo burst=40;
	    #limit_req_status 503;
        }
        location ~* /mobile/api/index/overseasShop {
            set $flag 0;
            if (-e "/data/www/mobileNewHomeIndex/${http_subsiteId}-${http_language}.json") {
                set $flag 1;
            }
            if ($flag = 1) {
                rewrite ^(.*)$ /mobileNewHomeIndex/${http_subsiteId}-${http_language}.json? last;
            }
            if ($flag = 0) {
               rewrite ^(.*)$ /mobileNewHomeIndex/78-zh-CN.json? last;
            }
            #limit_req zone=newtwo burst=40;
            #limit_req_status 503;
        }
        location ~* /mobileNewHomeIndex {
            add_header Cache-Control no-store;
            root /data/www/;
            #limit_req zone=newtwo burst=40;
            #limit_req_status 503;
        }
	#End Mobile NewHome App static
	# Add Static Address List
	location ~* /mobile/api/global/getRegionInfoList {
            set $flag 0;
            if (-e "/data/www/mobileRegionList/regionInfoDTOList-${http_language}.json") {
                set $flag 1;
            }
            if ($flag = 1) {
                rewrite ^(.*)$ /mobileRegionList/regionInfoDTOList-${http_language}.json? last;
            }
            if (-e "/data/www/mobileRegionList/regionInfoDTOList-zh-CN.json") {
                rewrite ^(.*)$ /mobileRegionList/regionInfoDTOList-zh-CN.json? last;
            }
            proxy_pass http://tomcat-app;
        }
        location ~* /mobileRegionList {
                add_header Cache-Control no-store;
                root /data/www/;
        }
        # Add Static Address List end
        # Start Mobile OverseasSubsite static
	location ~* /mobile/api/global/fetchOverseasSubsiteId {
	    if (-e "/data/www/fetchOverseasSubsiteId/fetchOverseasSubsiteId.json") {
		rewrite ^(.*)$ /fetchOverseasSubsiteId/fetchOverseasSubsiteId.json? last;
	    }	
	    proxy_pass http://tomcat-app;
    	}
	location ~* /fetchOverseasSubsiteId {
	    add_header Cache-Control no-store;
	    root /data/www/;
	}
	#End Mobile OverseasSubsite static
	#Start Mobile cancelOrderReason static
	location ~* /mobile/api/order/findReason {
	    set $flag 0;
	    if (-e "/data/www/cancelOrderReason/cancelOrderReason-${http_language}.json") {
		set $flag 1;
	    }	
	    if ($flag = 1) {
		rewrite ^(.*)$ /cancelOrderReason/cancelOrderReason-${http_language}.json? last;
	    }
	    if (-e "/data/www/cancelOrderReason/cancelOrderReason-zh-CN.json") {
		rewrite ^(.*)$ /cancelOrderReason/cancelOrderReason-zh-CN.json? last;
	    }
	        proxy_pass http://tomcat-app;
	    }
	location ~* /cancelOrderReason {
	    add_header Cache-Control no-store;
	    root /data/www/;
	}
	#End Mobile cancelOrderReason static
	location ~* /mobile/(api|www)/* {
	    set $isApp "true";
    	    if ($http_os ~* "(ios|android)"){
    	    	set $isApp "false";
            }	
    	#Support Wechat API Interface
    	    if ($isApp = "true"){
    		proxy_pass http://tomcat-app;
            }	
    	#Support APP API Interface
    	    if ($isApp = "false"){
    		proxy_pass http://tomcat-app;
            }
            #limit_req zone=newtwo burst=40;
            #limit_req_status 503;
	}

        location ~* /member/myintegral {
            rewrite (.*) http://www.carrefour.cn/member/show;
        }

        location ~* "/questionnaire\/(collect|manage|login|questionnaire_engquestionnaire|querycollectinfo|query|welcome|main|acceptstatus)\.html"{
            return 403;
        }

        location ~* /questionnaire {
            root /software/upload/questionnaire;
            try_files $uri @proxy_question;
        }

        location ~* /mini/show {
            rewrite (.*) http://www.carrefour.cn;
        }
	
	location ~* /druid/ {
	    set_real_ip_from 10.151.0.0/16;
	    real_ip_header X-Forwarded-For;
            proxy_pass http://tomcat-web;
            proxy_set_header Connection "";
            proxy_http_version 1.1;
            proxy_connect_timeout       60s;
            set $http_carrefour_client_ip $proxy_add_x_forwarded_for;   
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
	    proxy_set_header wm-client-ip $http_carrefour_client_ip;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	}

        location ~* "\.(gif|jpg|jpeg|png|bmp|swf|css|js|apk)$" {
            root {{pic_path}};
            try_files $uri @proxy_tomcat_web;
            expires      1d;
        }

        location ~* "index-(.*)-(.*).html$"{
            root {{static1_path}};
            try_files $uri @proxy_tomcat_web;
        }

        location ~* "activity-(.*)-(.*)-(.*).html$"{
            root {{static2_path}};
            try_files $uri @proxy_tomcat_web;
        }
	### Add Postal rules --data:16-09-02
	location ~* /portal {
	    proxy_pass http://pickup-web;
	}
	location ~* /omni\-system {
	    proxy_pass http://pickup-web;
	}
        location ~* /order\-service {
            proxy_pass http://pickup-web;
        }
        location ~* /cb\-service {
            proxy_pass http://pickup-web;
        }
	###Add Postal Rules --end
        location ~* /questionnaire/info/accept.do {
            proxy_pass http://pickup-web;
        }

        location ~* /A1_INTE/receiverOrder.do {
            proxy_pass http://pickup-web;
        }
	
	location /nginx_status {
            stub_status on;
            access_log off;
            allow 127.0.0.1;
            deny all;
        }

        location  / {
            #limit_req zone=newtwo burst=40;
            #limit_req_status 503;	
            proxy_pass http://tomcat-web;
            proxy_set_header Connection "";
            proxy_http_version 1.1;
            proxy_connect_timeout       600s;
            set $http_carrefour_client_ip $proxy_add_x_forwarded_for;
        
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header wm-client-ip $http_carrefour_client_ip;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;


        }
	#location ~ ^/product/(findGoods|getLimit) {
	#	proxy_pass http://tomcat-web;
	#	set $cache_key $host$uri$is_args$args$cookie_language;
	#	proxy_cache_key $cache_key;
	#	proxy_cache cache_index;
	#	proxy_cache_valid 200 304 1m;
	#} 
           }
     }
